#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=nostrip

DEB_DESTDIR=$(CURDIR)/debian/tmp/

include /usr/share/cdbs/1/rules/debhelper.mk

export CARGO_HOME := $(CURDIR)/build/toolchains/
export RUSTUP_HOME := $(CURDIR)/build/toolchains/
export PATH := $(CARGO_HOME)/bin:$(PATH)

clean::
	rm -rf target/ build/toolchains/

configure/cocaine-http-proxy::
	curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain nightly

build/cocaine-http-proxy::
	cargo build --release --verbose
	cargo test

install/cocaine-http-proxy::
	install -d $(DEB_DESTDIR)usr/
	install -d $(DEB_DESTDIR)usr/bin/
	install -m755 target/release/cocaine-http-proxy $(DEB_DESTDIR)usr/bin/cocaine-http-proxy
	install -d $(DEB_DESTDIR)etc/cocaine-http-proxy/
	install -m644 config.yaml $(DEB_DESTDIR)etc/cocaine-http-proxy/cocaine-http-proxy-default.yaml
